# Ambiente virtual
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos de configuração do IDE
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# Arquivos de cache
__pycache__/
*.py[cod]
*.pyo

# Arquivos de log
*.log

# Arquivos de banco de dados
*.sqlite3

# Arquivos de configuração do sistema
.DS_Store
Thumbs.db

# Arquivos de teste
*.coverage
.coverage.*
nosetests.xml
test-results/
