/* Detalhes do Dino */
.dino-info {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--secondary-bg-color);
  padding: var(--padding-base);
  color: var(--text-color);
  margin: 2rem auto; /* Centraliza o conteúdo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao card */
  display: flex; /* Usando flexbox */
  flex-direction: row; /* Organiza os itens em linha */
  width: 100%; /* Ocupa toda a largura do contêiner pai */
}

/* Colunas */
.column {
  flex: 1; /* Cada coluna ocupa o mesmo espaço */
  padding: var(--padding-base); /* Espaçamento interno */
}

/* Título do Dino */
.dino-info h1 {
  font-size: var(--font-size-large);
  margin-bottom: 1rem;
  text-align: center; /* Centraliza o título */
  color: var(--text-color);
}

/* Imagem do Dino */
.dino-info .image {
  margin-bottom: 1rem; /* Espaço abaixo da imagem */
}

.dino-info .image img {
  width: 100%;
  height: 600px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra na imagem */
  border: 5px solid var(--secondary-bg-color);
}

/* Informações do Dino */
.dino-info .info {
  text-align: left; /* Alinha as informações à esquerda */
}

/* Estilo para cada informação */
.dino-info .info p {
  font-size: var(--font-size-base);
  margin: 0.5rem 0; /* Espaçamento entre parágrafos */
  line-height: 1.5; /* Aumenta o espaçamento entre linhas */
  background-color: var(--terciary-bg-color);
  padding: var(--padding-base);
  border-radius: var(--border-radius);
  color: var(--text-color);
}

/* Botão de Voltar */
.dino-info .back-button {
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--terciary-bg-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  padding: var(--padding-base);
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, transform 0.2s;
  font-size: var(--font-size-base); /* Tamanho do texto do botão */
}

.dino-info .back-button:hover {
  background-color: var(--secondary-bg-color);
  transform: translateY(-2px);
}

/* Garantir que o layout de detalhes do dino preencha a altura total */
.dino-detail-layout {
  display: flex; /* Usando flexbox */
  flex-direction: column; /* Organiza os itens em coluna */
}

body {
  background-color: #0f2231;
}
