{% extends 'base.html' %}

{% load static %}  

{% block title %}Lista de Dinos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="main-content">
    <div class="submenu">
        <h2>Painel de Controle</h2>
        <a href="{% url 'dino_add' %}" class="btn btn-primary">
            <i class="fas fa-plus"></i> Criar Dinossauro
        </a>
        <a href="{% url 'index' %}" class="btn btn-secondary">
            <i class="fas fa-list"></i> Lista de Dinossauros
        </a>
        <a href="#" class="btn btn-info">
            <i class="fas fa-cog"></i> Configurações
        </a>
    </div>

    <section class="dinos-list">
        {% for post in posts %}
        <div class="dino">
            <div class="container">
                <div class="image">
                    <img src="{{ post.dinoImage.url }}" alt="{{ post.dinoNome }}">
                    <div class="diet">
                        {% if post.dinoDieta|stringformat:'s' == "Carnivoro" %}
                            <img class="element" src="{% static 'assets/CarnivoreIco.png' %}" alt="Carnivore">
                        {% elif post.dinoDieta|stringformat:'s' == "Herbivoro" %}
                            <img class="element" src="{% static 'assets/HerbivoreIco.png' %}" alt="Herbivoro">
                        {% else %}
                            <img class="element" src="{% static 'assets/DefaultIco.png' %}" alt="Unknown Diet">
                        {% endif %}
                    </div>
                    <div class="id">#{{ post.id }}</div>
                </div>
                <div class="stats">
                    <a href="{% url 'dino_detail' post.id %}">
                        <h3 class="name">{{ post.dinoNome }}</h3>
                    </a>
                    <div class="tipo">{{ post.dinoTipo }}</div>
                    <p class="desc">{{ post.dinoDescricao|truncatechars:130 }}</p>
                </div>
            </div>
        </div>  
        {% endfor %}        
    </section>
</div>
{% endblock content %} 